
#container{
    width: 1080px;
    height: auto;
    border: 1px solid black;
    margin: 0px auto;

}
#header{
    height: 100px;
    width: auto;
    margin: 10px 10px;

}
#brand{
	float: left;
}
h1 a{

	font-size: 50px;
	font-weight: 100;
	color: #861BBF;
	text-decoration: none;

}

#searchbox{
    float: right;
	padding: 20px 20px 0px 20px;
	height: 50px;
	width: 400px;
	margin-top: 20px;
	background: linear-gradient(#E4F2B9, #B7E953);
	background: -webkit-linear-gradient(#E4F2B9, #B7E953);
	background: -o-linear-gradient(#E4F2B9, #B7E953);
	background: -moz-linear-gradient(#E4F2B9, #B7E953);
}
}
.text{
    float: left;
    width: 200px;
	padding: 5px;
	font-size: 15px;
	background: white url(images/search.png) right center no-repeat;
	border: 1px solid #C8D03E;
}
.submit{
    color: #E36A0C;
	float: right;
	background: #A751D6;
	color: white;
	padding: 5px 15px;
	border-radius: 2px;
}
#menu{
    height: 70px;
    padding: 7px 0px;
    background: linear-gradient(#F8F594, #D5D533);
}
ul{
    list-style: none;
}
#menu ul li{
    float: left;
    padding: 0px 30px;
    height: 30px;
    border-right: 1px solid #5d12e7;
}
#menu ul li:last-child{
    border-right: none;
}


#menu ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    line-height: 30px;
    transition: font-size 0.3s ease;

}
#menu ul li a:hover, #menu ul li a.active{

	font-size: 20px;
	font-weight: bold;
	color: #B314DB;
}

#introduction{
    padding: 30px;
    margin: 16px 0px;
    background: linear-gradient(#e5f2bb, #b7e952);
}

#introduction h3{
    font-size: 45px;
    font-weight: 1000;
    color: #316901;
}

#introduction p{
    font-size: 25;
    color: #628f19;
    text-align: justify;
}

.sidebar{
    width: 450px;
    height: 500px;
    padding: 20px;
    margin: 20px;
}

#leftsidebar{
    float: left;
    border: 1px solid #BAF46F;
    border-radius: 20px;
}

.sidebar h3{
    font-size: 30px;
    color: #B314DB;
}
#rightsidebar{
    float: right;
    border: 1px solid #BAF46F;
    border-radius: 20px;
}
.sidebar ul{
    margin-top: 8px;
}

#leftsidebar ul li{
    padding: 5px 0px 5px 0px;
    list-style-image: url(images/arrow.png);
}

#rightsidebar ul li{
    padding: 17px 0px  17px 0px;
    background: url(images/tick.png) no-repeat left center;
}
.sidebar ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #5d12e7;
    transition: font-size 0.3s ease;
}

.sidebar ul li a:hover, .sidebar ul li a.active{
    text-decoration: none;
    color: #B314bd;
    font-size: 23px;
    font-weight: bold;
}